name: Main Workflow
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Pull Docker image
        run: docker pull coherentsolutions/rest-training:2.0

      - name: Run Docker container
        run: docker run -d -p 5050:8082 coherentsolutions/rest-training:2.0

      - name: Wait for the container to be ready
        run: sleep 30

      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '9.0'
          
      - name: Restore NuGet packages
        run: dotnet restore RestApiCSharp2.sln

      - name: Build the project
        run: dotnet build RestApiCSharp2.sln --configuration Release

      - name: Run tests
        run: dotnet test RestApiCSharp2.sln --configuration Release 

      - name: Install Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          wget https://github.com/allure-framework/allure2/releases/latest/download/allure-2.27.0.tgz
          tar -zxvf allure-2.27.0.tgz
          sudo mv allure-2.27.0 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Generate Allure Report
        if: always()
        run: |
          allure generate allure-results --clean -o allure-report

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report

